{% extends 'blog/base.html' %}
{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">

      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' post.author.username %}">By {{ object.author }} on</a>
          <small class="text-muted">{{ object.date_posted|date:'l, d b,Y' }}</small>
          {% if object.author == user %}
          <a class="btn btn-outline-info" href="{% url 'blog-update' object.id %}">Update</a>
          <a class="btn btn-outline-info" href="{% url 'blog-delete'  object.id %}">Delete</a>
          {% endif %}
        </div>
        <h2 class="article-title" >{{ object.title }} </h2>
        <p class="article-content">{{ object.content }}</p>
      </div>
    </article>

{% endblock content %}

